{% extends 'base.html' %}

{% block title_head %}
<title>Sobre mi</title>
{% endblock title_head %}

{% block h1_header %}
Acerca de mi
{% endblock h1_header %}

{% block contenido %}
<h1>Algo de mi historia</h1>
<br>
<h3>Mis inicios</h3>
<p>Naci el 15 de octubre de 2004 en la Ciudad de Buenos Aires, en Argentina. Crecí en el hermoso barrio de Boedo donde supe encontrar una ecelente comunidad. Allí pude desarrollar mis estudios de nivel inicial y medio.
    Desde que tenia 13 años, empece a mostrar una gran atraccion hacia la Musica, tecnologia, la programacion, los DJ, autores de canciones, entre otros. Fue asi que decidi empezar mi propio camino.
    Empece escuchando algunos DJ famosos como Alan Walker, Kygo y sobre todo mi favorito: Avicii. Tambien desarrollé un gran gusto por la música de los 80 & 90, empezado así a realizar mis creaciones de combinación entre música antigua con la más reciente.</p>
<br>
<h3>Actualidad</h3>
<p>Como DJ, mi trabajo consiste en crear una experiencia musical que conecte con el público y los haga disfrutar al máximo. Para ello, selecciono cuidadosamente la música que se adapte al ambiente y a las preferencias de la audiencia, ya sea en un festival, boliche o una fiesta privada. Además, utilizo mi habilidad en la mezcla y la técnica para crear transiciones suaves y fluidas entre las canciones, manteniendo siempre el ritmo y la energía en alto.</p>
{% endblock contenido %}